html {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),;
  background-size: 100% auto !important;
  background-repeat: repeat !important;
}

body {
  font-family: Arial, sans-serif;
}
.contact-form{
	margin-left:auto;
	margin-right:auto;
	width: 600px;
	}
.contact-input{
	padding: 10px;
	border: 2px solid #000000;
	width: 200px;
	color: #000000;
	}
.navbar-inverse {
  background-color: #0D2B21;
}

.body-container {
  margin-top: 5% !important;
}


/* IPhone */
@media only screen and (min-width : 320px)
{
	h1 {
		text-align: center;
		margin-top: 5%;
		color: #000000;
	}

	h2 {
		text-align: center;
		margin-top: 2%;
		color: #000000;
	}

	img {
		display: block;
		margin: 0 auto;
		margin-top: 3%;
		width: 200px;
		height: 200px;
	}


	.top-p {
		text-align: center;
		margin-top: 5%;
		margin-left: 20%;
		margin-right: 20%;
		line-height: 1em;
		color: #000000;
	}

	.skills-list {
		color: #000000;
		list-style: none;
		text-align: center;
		margin-top: 3%;
		line-height: 2em;
	}

	.skills-list li {
		display: inline-block;
		text-align: center;
		padding: 6px;
		line-height: 2em
	}

	.More {
		color: #000000;
		list-style: none;
		text-align: center;
		margin-top: 3%;
		line-height: 2em;
	}

	.skills-list {
		color: #000000;
		list-style: none;
		text-align: center;
		margin-top: 3%;
		line-height: 2em;
	}

	.skills-list li {
		display: inline-block;
		text-align: center;
		padding: 6px;
		line-height: 2em
	}

	.More {
		color: #000000;
		list-style: none;
		text-align: center;
		margin-top: 3%;
		line-height: 2em;
	}

	.More li {
		display: block;
		text-align: center;
	}
}

/* Small Devices (phones) */
@media only screen and (min-width : 480px)
{
	h1 {
		text-align: center;
		margin-top: 5%;
		color: #000000;
	}

	h2 {
		text-align: center;
		margin-top: 2%;
		color: #000000;
	}

	img {
		display: block;
		margin: 0 auto;
		margin-top: 3%;
		width: 200px;
		height: 200px;
	}

	.top-p {
		text-align: center;
		margin-top: 5%;
		margin-left: 20%;
		margin-right: 20%;
		line-height: 1em;
		color: #000000;
	}

	.skills-list {
		color: #000000;
		list-style: none;
		text-align: center;
		margin-top: 3%;
		line-height: 2em;
	}

	.skills-list li {
		display: inline-block;
		text-align: center;
		padding: 6px;
		line-height: 2em
	}

	.More {
		color: #000000;
		list-style: none;
		text-align: center;
		margin-top: 3%;
		line-height: 2em;
	}

	.More li {
		display: block;
		text-align: center;
	}
}

/* Medium Devices (Desktops) */
@media only screen and (min-width : 992px)
{
	h1 {
		text-align: center;
		margin-top: 5%;
		color: #000000;
	}

	h2 {
		text-align: center;
		margin-top: 2%;
		color: #000000;
	}

	img {
		display: block;
		margin: 0 auto;
		margin-top: 3%;
		width: 200px;
		height: 200px;
	}

	.top-p {
		text-align: center;
		margin-top: 5%;
		margin-left: 20%;
		margin-right: 20%;
		line-height: 1em;
		color: #000000;
	}

	.skills-list {
		color: #000000;
		list-style: none;
		text-align: center;
		margin-top: 3%;
		line-height: 2em;
	}

	.skills-list li {
		display: inline-block;
		text-align: center;
		padding: 6px;
		line-height: 2em
	}

	.More {
		color: #000000;
		list-style: none;
		text-align: center;
		margin-top: 3%;
		line-height: 2em;
	}

	.More li {
		display: block;
		text-align: center;
	}
}

/* Large Devices (Wide Screen) */
@media only screen and (min-width : 1200px)
{
	h1 {
		text-align: center;
		margin-top: 5%;
		color: #000000;
	}

	h2 {
		text-align: center;
		margin-top: 2%;
		color: #000000;
	}

	img {
		display: block;
		margin: 0 auto;
		margin-top: 3%;
		width: 200px;
		height: 200px;
	}

	.top-p {
		text-align: center;
		margin-top: 5%;
		margin-left: 20%;
		margin-right: 20%;
		line-height: 1em;
		color: #000000;
	}

	.skills-list {
		color: #000000;
		list-style: none;
		text-align: center;
		margin-top: 3%;
		line-height: 2em;
	}

	.skills-list li {
		display: inline-block;
		text-align: center;
		padding: 6px;
		line-height: 2em
	}

	.More {
		color: #000000;
		list-style: none;
		text-align: center;
		margin-top: 3%;
		line-height: 2em;
	}

	.More li {
		display: block;
		text-align: center;
	}

}

